
<!doctype html>
<html lang="en">
  <head>
    <title>CoWorld</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">    <style>
      #hei{
        height: 1400px;
      }
       #demo3{
  visibility : hidden;
      position: relative;
      color: white;
}
        #b1
        {
         
             height: 750px;
                
        }
        #b2
           {
             
             height: 650px;
           }
         #b3
            {
            
            height: 200px;

            }
        #b4
            {
           
            height: 110px;

            }

                           
    </style>
  </head>
  <body onclick="events()" onload="scrollToBottom()">

    <!-- //navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" >

      <div class="container-fluid  text-white" id="color">
      <a class="navbar-brand " href="http://127.0.0.1:8000/Home_page">CoWorld</a>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/Home_page">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/list_of_courses">Explore</a>
            </li>
            
            
          </ul>
          <form action="logout_page" method="post">
            {% csrf_token %}
            <button class="btn btn-outline-primary text-white" style="margin-right:2rem; width:6rem" name="log_out" type="submit">Log out</button>
          </form>
        </div>
      </div>
    </nav>


   
            
                        <!--col-1-->
                        <div class="col-2 " id="c1">
                          <h4>JAVA</h4>
                          <li><a href="http://127.0.0.1:8000/Introduction_of_java">Introducation Of Java</a></li>
                            <li><a href="http://127.0.0.1:8000/Operator">Operators</a></li>
                            <li> <a href="http://127.0.0.1:8000/Scanner">Scanner</a></li>
                            <li><a href="http://127.0.0.1:8000/Typecasting">Type Casting</a></li>
                            <li> <a href="http://127.0.0.1:8000/Ifelse">if else</a></li>
                            <li><a href="http://127.0.0.1:8000/loop">Loops</a></li>
                            <li> <a href="http://127.0.0.1:8000/Switch">Switch</a></li>
                            <li><a href="http://127.0.0.1:8000/Class_Constructor">Class & Constructor</a></li>
                            <li><a href="http://127.0.0.1:8000/This_Keyword">This Keyword</a></li>  
                            <li><a href="http://127.0.0.1:8000/Object">Object</a></li>
                            <li><a href="http://127.0.0.1:8000/Anonymous_object">Anonymous Object</a></li>
                            <li><a href="http://127.0.0.1:8000/Method">Method</a></li>
                            <li><a href="http://127.0.0.1:8000/Access_Modifiers">Access Modifiers</a></li>
                            <li><a href="http://127.0.0.1:8000/FinalClass1">FinalClass</a></li>
                            <li><a href="http://127.0.0.1:8000/Final_Variable">Final Variable</a></li>
                            <li><a href="http://127.0.0.1:8000/Final_method">Final Method</a></li>                        
                            <li><a href="http://127.0.0.1:8000/Method_overriding">Method Overriding</a></li>
                            <li><a href="http://127.0.0.1:8000/Inheritance">Inheritance</a></li>
                            <li><a href="http://127.0.0.1:8000/Single_Inheritance">Single Inheritance</a></li>
                            <li style="color:rgb(119, 188, 252)"><a href="http://127.0.0.1:8000/Muiltilevel_Inheritance" style="color:rgb(119, 188, 252)">Muiltilevel Inheritance</a></li>
                            <li><a href="http://127.0.0.1:8000/Muiltiple_hybrid_Inheritance">Muiltiple hybrid Inheritance</a></li>
                            <li><a href="http://127.0.0.1:8000/Hierarchical_inheritance">Hierarchical Inheritance</a></li>
                            <li><a href="http://127.0.0.1:8000/SuperKeyword">Super Keyword</a></li>  
                            <li><a href="http://127.0.0.1:8000/Abstract_class_and_method">Abstract Class And Method</a></li>
                            <li><a href="http://127.0.0.1:8000/interface">interface</a></li>
                            <li><a href="http://127.0.0.1:8000/exception_handling">Exception handling</a></li>
                            <li><a href="http://127.0.0.1:8000/try_catch_block">Try catch</a></li>
                            <li><a href="http://127.0.0.1:8000/finally_block">Finally block</a></li>
                        </div>
                        <div class="container-fluid" id="hei">
        <div class="row">
                        <!--col-2-->
                        <div class="col-8 text-white">
                        <!---->
                        <h2>Muiltilevel Inheritance</h2>
                        <p>When there is a chain of inheritance, it is known as multilevel inheritance. </p>
                        <div id="demo1">
                           <p>The class A serves as a base class for the derived class B which in tum serves as a base class for the derived class C. The chain ABC is known as the inheritance path.</p>
                           <p>A derived class with multilevel base classes is declared as follows.</p>

                        </div>
                        <div class="card" id="b1">
                          <h5 class="card-header">Example:-</h5>
                          <div class="card-body">
                               
                        <div class="card" id="b2">
                      
                          <div class="card-body" >
<pre>
    class Shape {
      public void display() {
        System.out.println("Inside display");
      }
    }

    class Rectangle extends Shape {
      public void area() {
        System.out.println("Inside area");
      }
    }

    class Cube extends Rectangle {
      public void volume() {
        System.out.println("Inside volume");
      }
    }

    public class Tester {
      public static void main(String[] arguments) {
        Cube cube = new Cube();
        cube.display();
        cube.area();
        cube.volume();
      }
    }
</pre>
                          </div>
                        </div>
                          </div>
                        </div>

                            <div class="card" id="b3">
                          <h5 class="card-header">Output:</h5>
                          <div class="card-body">
                               
                        <div class="card" id="b4">
                      
                          <div class="card-body" >
<pre>
Inside display
Inside area
Inside volume
</pre>
                          </div>
                        </div>
                          </div>
                        </div>

                        <form action="PT" method="post">
                          {% csrf_token %}
                          <div class="d-grid gap-2 d-md-flex justify-content-md-end" id="sub1">
  <button class="btn btn-primary my-2" name="sub1" value="muiltilevel_inheritance_" id="sub" type="submit">Next</button>
</div>
</form>
                        <!--Col-3-->
                            <div class="col-2 text-white">

                            </div>



                    </div>                
                </div>
                <script>
                    let x=0;
        function events() { 
            x += 1;
            switch (x) {
                case 0:
                    {
                    break;
                    }
                case 1:
                    {
                    document.getElementById("demo1").style.visibility="visible";
                    document.getElementById("demo1").style.animation="ani 1s 1";
                    break;
                    }
                case 2:
                    {
                    document.getElementById("b1").style.visibility="visible";
                    document.getElementById("b2").style.visibility="visible";
                    document.getElementById("b1").style.animation="ani 1s 1";
                    document.getElementById("b2").style.animation="ani 1s 1";
                    break;
                    }
                    case 3:
                    {
                      document.getElementById("b3").style.visibility="visible";
                      document.getElementById("b4").style.visibility="visible";
                    document.getElementById("b3").style.animation="ani 1s 1";
                    document.getElementById("b4").style.animation="ani 1s 1";
                    break;
                    }
                    case 4:
                    {
                    document.getElementById("sub1").style.visibility="visible";
                    document.getElementById("sub1").style.animation="ani 1s 1";
                    break;
                    }
                  }
                }
    function scrollToBottom() {
      var chatHistory = document.getElementById("c1");
      chatHistory.scrollTop = chatHistory.scrollHeight;
    }
  
                  </script>
        
   


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
